<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>APP COVID</h2>
            <h4>appmovil.covid@gmail.com</h4>
        </div>
        <img src="https://thumbs.dreamstime.com/b/coronavirus-covid-caricatura-de-bacterias-pat%C3%B3genas-ilustraci%C3%B3n-vectorial-aislada-sobre-fondo-transparente-212020407.jpg" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Paginas</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Publicaciones</a>


    <mat-divider></mat-divider>

    <h2 matSubheader>Info</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacto">
        <mat-icon>import_contacts</mat-icon>
        Contactos
    </a>



</mat-nav-list>
